@tailwind base;
@tailwind components;
@tailwind utilities;
.Fira-code {
  font-family: 'Fira Code', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
  min-height: 100vh;
  background: #2E9EA2;
  background: radial-gradient(at right center, #2E9EA2, #212E84) no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Menetapkan latar belakang tetap */
}
.dark main {
    background: rgba(19, 41, 66, 1.0);
    background: radial-gradient(at right center, rgba(19, 41, 66, 1.0), rgba(25, 25, 25, 1.0));
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed; /* Menetapkan latar belakang tetap */
  }

@keyframes toUpper {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes toDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes Hide {
  0% {
    opacity: 1;
  }
  100% {
    display:none ;
    opacity: 0;
  }
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.stickys {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}